* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/raleway/Raleway-Regular.ttf");
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    padding-top: 25px;
    text-transform:uppercase;
    width:100%;
    background-image:url('../img/logo_lasa_bk.png');
    background-position:0 center;
    background-repeat:no-repeat;
    background-color:transparent !important;
}


.congresos-titulos h2
{
    width:100%;
    margin:3%;
    padding:0;
    color:#0093d1;
    font-family: "Raleway Bold",sans-serif;
    font-weight:bold;
    font-size:1.95em;
}

.congreso-item {
    border: solid 1px;
    padding: 0%;
    float: left;
    position: relative;
    background: #fff;
    margin-top:2%;
}

.congreso-item .fecha-congreso {
    width: 50%;
    position: relative;
    float: left;
    padding: 1% 3%;
    color: #fff;
    font-family: "Raleway Regular",sans-serif;
    font-size:1.35em;
    font-weight:bold;
}

.congreso-item.clm
{
    border-color:#9a0452;
}
.congreso-item.clm .fecha-congreso
{
    background:#9a0452;
}

.congreso-item.clm .triangle
{
    border-bottom: 32px solid #9a0452;
}

.congreso-item.clm .titulo-congreso
{
    color:#9a0452;
}

.congreso-item.drm
{
    border-color:#ea3333;
}
.congreso-item.drm .fecha-congreso
{
    background:#ea3333;
}

.congreso-item.drm .triangle
{
    border-bottom: 32px solid #ea3333;
}

.congreso-item.drm .titulo-congreso
{
    color:#ea3333;
}

.congreso-item.gob
{
    border-color:#00116e;
}
.congreso-item.gob .fecha-congreso
{
    background:#00116e;
}

.congreso-item.gob .triangle
{
    border-bottom: 32px solid #00116e;
}

.congreso-item.gob .titulo-congreso
{
    color:#00116e;
}

.congreso-item .triangle {
    width: 0;
    height: 0;
    border-right: 32px solid transparent;
    float: left;
    position: relative;
}

.congreso-item .tipo-congreso
{
    width: 40%;
    position: relative;
    float: left;
    text-align:right;
    padding: 1% 3%;
    background:#fff;
    color:#00116e;
    font-family: "Raleway Regular",sans-serif;
    font-size:1.3em;
    font-weight:bold;
}

.congreso-item .titulo-congreso
{
    font-family: "Raleway Regular",sans-serif;
    font-size:1.35em;
    text-transform:initial;
    font-weight:bold;
    width: 100%;
    margin:2%;
    position: relative;
    float: left;
}

.data-congreso
{
    font-family: "Raleway Regular",sans-serif;
    font-size:1.2em;
    text-transform:initial;
    font-weight:normal;
    width: 100%;
    margin:2%;
    position: relative;
    color:#000;
    float: left;
}
.container-app
{
    width:100%;
    height:100%;
    position:relative;
}

.col-header
{
    width:70%;
    height:8%;
    background:#0495d4;
    position:absolute;
    top:0;
    right:0;
}


.logo-hipo
{
    width:50%;
    left:25%;
    top: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    text-align:center;
    position:absolute;
}


.logo-hipo img{
    width:100%;
    opacity:0;
}


.logo-hipo img{
  animation: zoom-in linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: zoom-in linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: zoom-in linear 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: zoom-in linear 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: zoom-in linear 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}


.col-header{
  animation: slide-from-right ease-out 1.5s;
  animation-iteration-count: 1;
  transform-origin: 100% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: slide-from-right ease-out 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: slide-from-right ease-out 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 100% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: slide-from-right ease-out 1.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 100% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: slide-from-right ease-out 1.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 100% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}


.mensaje-preregistro
{
    width:90%;
    top: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    text-align:center;
    position:absolute;
}

.titulo-mensaje
{
    color:#0095d4;
    font-size:1.75em;
    text-transform:initial;
    font-family: "Raleway Bold";
    letter-spacing:0px;
    margin-bottom:3%;
}

.bajada-mensaje
{
    color:#000;
    font-size:1.35em;
    font-weight:500;
    font-family: "Raleway Regular";
    text-transform:initial;
    letter-spacing:0px;
}

.blue-header {
    height: 90px;
    background-color: transparent;
    border-bottom: 5px solid #0093d1;
}

.blue-header>div
{
    padding: 30px 0px;
    background-color: #0093d1;
    height: 80px;
}

.formulario-header
{
    background:#fff;
}

.linea-separadora
{
    background:#808080;
    height:1px;
    width:100%;
    margin-top:2px;
}

.area-formulario
{
    margin-top:0.5%;
}

.boton-participar
{
    margin-top:3%;
}

.placeholder-effect ~ .focus-bg {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 30px);
    height: 100%;
    background-color: #fff;
    transition: 0.3s;
    z-index: -2;
    margin-left: 15px;
}

.error-input
{
    border:1px solid #f12f22 !important;
}

.placeholder-effect ~ label {
    position: absolute;
    left: 20px;
    width: 100%;
    top: 10px;
    color: #aaa;
    font: 400 1.2em/1.1em 'Raleway Regular', sans-serif;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.placeholder-effect:focus ~ label, .has-content.placeholder-effect ~ label {
    top: -15px;
    left: 15px;
    font: 400 1.1em/1.1em 'Raleway', sans-serif;
    color: #333;
    transition: 0.3s;
}

.input-effect input, .input-effect select {
    width:100%;
    font-size: 1.3em;
    font-weight: 500;
    font-family: "Raleway Regular";
    height: 40px;
    color: #808080;
    background: #f0f0f0 ;
    border: none ;
    border-radius: 0 ;
    border-bottom: 1px solid #808080 ;
    box-shadow: none;
    padding: 7px 15px;
    position: relative;
    background: transparent;
    box-sizing: border-box;
    letter-spacing: 1px;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.input-effect {
    margin-top: 3.5%;
}

.boton-enviar-datos
{
    margin-top:4%;
    margin-bottom:3%;
}

.input-error
{
    background-color:rgba(252, 52, 15, 0.60) !important;
    color:#f12f22 !important;
    font-weight:bold !important;
}

/* landscape */
@media screen and (min-width:800px) and (orientation: landscape) {

    .titulo-mensaje
    {
        font-size: 2.8em;
        line-height: 0.95em;
    }

    .bajada-mensaje {
         font-size:1.7em;
    }

    .mensaje-preregistro
    {
        width:50%;  
    }
}



@keyframes slide-from-right{
  0% {
    opacity:0.57;
    transform:  scaleX(0.00) ;
  }
  100% {
    opacity:1.00;
    transform:  scaleX(1.00) ;
  }
}

@-moz-keyframes slide-from-right{
  0% {
    opacity:0.57;
    -moz-transform:  scaleX(0.00) ;
  }
  100% {
    opacity:1.00;
    -moz-transform:  scaleX(1.00) ;
  }
}

@-webkit-keyframes slide-from-right {
  0% {
    opacity:0.57;
    -webkit-transform:  scaleX(0.00) ;
  }
  100% {
    opacity:1.00;
    -webkit-transform:  scaleX(1.00) ;
  }
}

@-o-keyframes slide-from-right {
  0% {
    opacity:0.57;
    -o-transform:  scaleX(0.00) ;
  }
  100% {
    opacity:1.00;
    -o-transform:  scaleX(1.00) ;
  }
}

@-ms-keyframes slide-from-right {
  0% {
    opacity:0.57;
    -ms-transform:  scaleX(0.00) ;
  }
  100% {
    opacity:1.00;
    -ms-transform:  scaleX(1.00) ;
  }
}

@keyframes zoom-in{
  0% {
    opacity:0;
    transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes zoom-in{
  0% {
    opacity:0;
    -moz-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes zoom-in {
  0% {
    opacity:0;
    -webkit-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes zoom-in {
  0% {
    opacity:0;
    -o-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes zoom-in {
  0% {
    opacity:0;
    -ms-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

.logo-lasa-footer
{
    width:20%;
    left:40%;
    position:absolute;
    bottom:0;
}

.logo-lasa-footer img{
    width:100%;
}